services:
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"
  server:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - "./server/.env.prod"
  client:
    build: './client'
    ports:
      - "8081:8081"
    depends_on:
      - server
    env_file:
      - "./client/.env.prod" 